<html>

<head>
	<title>My Preferences</title>
</head>

<body>

	<p>Please enter your preferences</p>
	

	<form action="show_results">
		<select name="p1">
		  <option value="null"></option>
		  <option value="museums">Museums</option>
		  <option value="nudist">Nudist</option>
		  <option value="biking">Biking</option>
		  <option value="Adult">Adult</option>
		</select>
		<br>
		<select name="p2">
	      <option value="null"></option>
		  <option value="museums">Museums</option>
		  <option value="nudist">Nudist</option>
		  <option value="biking">Biking</option>
		  <option value="Adult">Adult</option>
		</select>
		<br>
		<select name="p3">
		  <option value="null"></option>
		  <option value="museums">Museums</option>
		  <option value="nudist">Nudist</option>
		  <option value="biking">Biking</option>
		  <option value="Adult">Adult</option>
		</select>
		<br>
		<button type="submit" action="show_results">Submit</button>
	</form>

</body>

</html>