<html>

<head>
	<title>My Preferences</title>
</head>

<body>

	<p>Please enter your preferences</p>
	

	<form action="show_results">
		
		City: <input type="text" name="specified_city">
		<br>

		
  <input name="puppy[gooddog]" type="hidden" value="no" />
   <input type="checkbox" id="puppy_gooddog" name="puppy[gooddog]" value="yes" />

		<select name="p1">
		  <option value="null"></option>
		  <option value="museums">Museums</option>
		  <option value="golf">Nudist</option>
		  <option value="bicyclepaths">Biking</option>
		  <option value="fishing">Adult</option>
		</select>
		<br>
		<select name="p2">
	      <option value="null"></option>
		  <option value="museums">Museums</option>
		  <option value="golf">Nudist</option>
		  <option value="bicyclepaths">Biking</option>
		  <option value="fishing">Adult</option>
		</select>
		<br>
		<select name="p3">
		  <option value="null"></option>
		  <option value="museums">Museums</option>
		  <option value="golf">Nudist</option>
		  <option value="bicyclepaths">Biking</option>
		  <option value="fishing">Adult</option>
		</select>
		<br>
		<button type="submit" action="show_results">Submit</button>
	</form>

</body>

</html>